@charset "utf-8";

/*********************************/
/***** ページ送り *****/
/*********************************/

.pagenavi {
	clear: both;
}
.pagenavi:before, .pagenavi:after {
	content: " ";
	display: table;
}
.pagenavi:after {
	clear: both;
}

.wp-pagenavi {
	display: inline-block;
	float: left;
}

.wp-pagenavi span {
	display: inline;
}

.wp-pagenavi > a,
.wp-pagenavi > .pages,
.wp-pagenavi > .current,
.wp-pagenavi > .extend {
	position: relative;
	float: left;
	padding: 6px 10px;
	font-size: .9em;
	line-height: 1.4em;
	text-decoration: none;
	color: #0071de;
	background-color: #FFF;
	border: 1px solid #d6d6d6;
	margin-left: -1px;
	margin-bottom: -1px;
}
.wp-pagenavi > .pages{
	color: #333;
}

.pagenavi > .count {
	float: left;
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 0 auto 0;
	padding: 6px 20px 6px 10px;
	font-size: .9em;
	line-height: 1.4em;
	text-decoration: none;
	color: #333;
	background-color: #FFF;
	border: 1px solid #FFF;
	margin-left: -1px;
}

.wp-pagenavi > a:hover,
.wp-pagenavi > a:focus {
	z-index: 3;
	color: #0071de;
	background-color: #EEE;
	border-color: #d6d6d6;
}

.wp-pagenavi > .current,
.wp-pagenavi > .current:hover,
.wp-pagenavi > .current:focus {
	z-index: 2;
	color: #FFF;
	background-color: #03A9F4;
	border-color: #03A9F4;
	cursor: default;
}


/*********************************/
/***** ページトップ *****/
/*********************************/

#pagetop-content {
	clear: both;
}

#pagetop-content a {
	display: block;
	width: 56px;
	height: 56px;
	position: fixed;
	right: 40px;
	bottom: -56px;
	z-index: 9999;
}


/*********************************/
/***** 新着情報 *****/
/*********************************/

#news-content h1 {
	position: relative;
	font-weight: bold;
	color: #333;
	background-color: #B3E5FC;
	padding: 16px 30px;
	border: 1px solid #d6d6d6;
}
#news-content h1 .title {
	font-size: 1.4em;
	line-height: 1.3em;
}
#news-content h1 .link {
	position: absolute;
	top: 22px;
	right: 20px;
	font-size: .85em;
	line-height: 1.4em;
	padding-left: 10px;
	background: url(../images/common/icon_navi01.png) no-repeat 0 3px;
}
#news-content .content {
	padding: 5px 20px 5px;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
#news-content .content dl {
	position: relative;
	font-size: .85em;
	line-height: 1.4em;
}
#news-content .content dl dt {
	position: absolute;
	width: 134px;
	padding: 20px 0;
	text-indent: 5px;
	color: #595959;
}
#news-content .content dl dt.new {
	background: url(../images/common/icon_new.gif) no-repeat right 21px;
}
#news-content .content dl dd {
	padding: 20px 0 20px 150px;
	border-bottom: 1px dashed #d6d6d6;
}
#news-content .content dl dd:last-of-type {
	border-bottom: none;
}


/* pagenavi */
#news-content .content .pagenavi-top {
	padding-top: 12px;
}
#news-content .content .pagenavi-bottom {
	padding-bottom: 12px;
}


/*********************************/
/***** 制作実績 *****/
/*********************************/

#work-content #work-title {
	clear: both;
	font-weight: bold;
	color: #333;
	background-color: #B3E5FC;
	font-size: 1.4em;
	line-height: 1.3em;
	padding: 16px 30px;
	border: 1px solid #d6d6d6;
	margin-bottom: 15px;
}


/* work-form-content */
#work-content #work-form-content {
	border: 4px solid #d6d6d6;
	padding: 30px;
	margin-bottom: 60px;
}
#work-content #work-form-content #work-form {
}

#work-content #work-form-content #work-form .type {
	float: left;
	width: 240px;
}

#work-content #work-form-content #work-form .category {
	float: right;
	width: 440px;
}
#work-content #work-form-content #work-form .category ul li {
	float: left;
	margin: 0 20px 15px 0;
}
#work-content #work-form-content #work-form .category ul li input {
	display: inline-block;
	margin-right: 5px;
}

/* search-btn */
#work-content #work-form-content #work-form .search-btn {
	clear: both;
	padding-top: 10px;
}
#work-content #work-form-content #work-form .search-btn input.btn {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif,'ＭＳ Ｐゴシック';
	font-size:  20px;
	line-height: 24px;
	display: block;
	width: 100px;
	padding: 6px 12px;
	margin:  0 auto;
	border: 1px solid #d6d6d6;
	color: #FFF;
	text-align: center;
	background: url(../images/common/icon_navi01.png) no-repeat 10px 12px #0288D1;
	border: none;
}
#work-content #work-form-content #work-form .search-btn input.btn:hover,
#work-content #work-form-content #work-form .search-btn input.btn:active {
	color: #FFF;
	background: url(../images/common/icon_navi01.png) no-repeat 10px 12px #03A9F4;
}




/* article */
#work-content #work-result-content .article {
	border: 1px solid #d6d6d6;
	padding: 15px;
	margin-bottom: 60px;
}

#work-content #work-result-content .article .article-title {
	clear: both;
	font-weight: bold;
	color: #333;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 0 0 6px 0;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 12px;
}

#work-content #work-result-content .article .article-info {
}
#work-content #work-result-content .article .article-info .article-content {
	padding: 0 12px;
	margin-bottom: 10px;
}


/* article-image */
#work-content #work-result-content .article .article-info .article-image {
	width: 100%;
	display: table;
	border-collapse: collapse;
	margin-bottom: 12px;
}
#work-content #work-result-content .article .article-info .article-image .article-photo {
	display: table-cell;
	width: 320px;
	text-align: left;
	vertical-align: top;
}
#work-content #work-result-content .article .article-info .article-image .article-photo-content {
	display: table-cell;
	text-align: left;
	vertical-align: top;
}}


/* article-sub-info */
#work-content #work-result-content .article .article-info .article-sub-info {
	border-bottom: 1px solid #d6d6d6;
}
#work-content #work-result-content .article .article-info .article-sub-info .article-date,
#work-content #work-result-content .article .article-info .article-sub-info .article-type,
#work-content #work-result-content .article .article-info .article-sub-info .article-category {
	font-size: .85em;
	line-height: 1.4em;
	border-top: 1px solid #d6d6d6;
	padding: 10px 15px;
}
#work-content #work-result-content .article .article-info .article-sub-info .article-date dl,
#work-content #work-result-content .article .article-info .article-sub-info .article-type dl,
#work-content #work-result-content .article .article-info .article-sub-info .article-category dl {
	display: table;
	border-collapse: collapse;
}
#work-content #work-result-content .article .article-info .article-sub-info .article-date dl dt,
#work-content #work-result-content .article .article-info .article-sub-info .article-type dl dt,
#work-content #work-result-content .article .article-info .article-sub-info .article-category dl dt {
	display: table-cell;
	width: 120px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #d6d6d6;
}
#work-content #work-result-content .article .article-info .article-sub-info .article-date dl dd,
#work-content #work-result-content .article .article-info .article-sub-info .article-type dl dd,
#work-content #work-result-content .article .article-info .article-sub-info .article-category dl dd {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding-left: 12px;
}


/* pagenavi */
#work-content #work-result-content .pagenavi-top {
	padding-bottom: 40px;
}
#work-content #work-result-content .pagenavi-bottom {
}


/*********************************/
/***** よくあるご質問 *****/
/*********************************/

/* faq-content */
#faq-content {
	clear: both;
	text-align: left;
	vertical-align: top;
}
#faq-content h1 {
	font-weight: bold;
	color: #333;
	background-color: #B3E5FC;
	font-size: 1.4em;
	line-height: 1.3em;
	padding: 16px 30px;
	border: 1px solid #d6d6d6;
	margin-bottom: 15px;
}
#faq-content h2 {
	font-weight: bold;
	color: #333;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 0 0 6px 0;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 12px;
}


/* faq-menu */
#faq-content #faq-menu {
	padding-left: 20px;
	padding-bottom: 20px;
}
#faq-content #faq-menu ul {
}
#faq-content #faq-menu ul li {
	float: left;
	margin: 0 15px 12px 0;
}
#faq-content #faq-menu ul li a {
	display: block;
	box-sizing: border-box;
	width: 240px;
	padding: 10px 12px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	text-align: center;;
	vertical-align: middle;
}
#faq-content #faq-menu ul li a:link,
#faq-content #faq-menu ul li a:visited {
	color: #FFF;
	background-color: #0288D1;
	text-decoration: none;
}
#faq-content #faq-menu ul li a:hover,
#faq-content #faq-menu ul li a:active {
	color: #FFF;
	background-color: #03A9F4;
	text-decoration: none;
}
#faq-content #faq-menu ul li a span {
	display: inline-block;
	padding-left: 12px;
	background: url(../images/common/icon_navi01.png) no-repeat 0 2px;
}


/* faq-list */
#faq-content #faq-list ul {
	margin-bottom: 40px;
}
#faq-content #faq-list ul li {
	padding: 0 10px 20px;
}
#faq-content #faq-list ul li .title {
	cursor: pointer;
	padding: 4px 20px 10px;
	border: 1px solid #d6d6d6;
}
#faq-content #faq-list ul li .title .q {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.4em;
	color: #0288D1;
	margin-right: 10px;
}
#faq-content #faq-list ul li .title:hover {
	background-color: #B3E5FC;
}
#faq-content #faq-list ul li .title.clicked,
#faq-content #faq-list.single ul li .title {
	color: #FFF;
	background-color: #0288D1;
}
#faq-content #faq-list ul li .title.clicked .q,
#faq-content #faq-list.single ul li .title .q {
	color: #FFF;
}
#faq-content #faq-list ul li .title.clicked:hover {
	background-color: #03A9F4;
}
#faq-content #faq-list ul li .info {
	display: none;
	padding: 10px 0 0 22px;
}
#faq-content #faq-list ul li .info .a {
	float: left;
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.4em;
	color: #dc4e4d;
	margin-right: 10px;
}
#faq-content #faq-list ul li .info .info-content {
	float: left;
	width: 92%;
	padding-top: 5px;
}
#faq-content #faq-list.single ul li .info {
	display: block;
}
#faq-content #faq-list ul li .info a:link,
#faq-content #faq-list ul li .info a:visited {
	text-decoration: underline;
}
#faq-content #faq-list ul li .info a:hover,
#faq-content #faq-list ul li .info a:active {
	text-decoration: none;
}


/*********************************/
/***** ブログ *****/
/*********************************/

#blog-content #blog-title {
	clear: both;
	font-weight: bold;
	color: #333;
	background-color: #B3E5FC;
	font-size: 1.4em;
	line-height: 1.3em;
	padding: 16px 30px;
	border: 1px solid #d6d6d6;
	margin-bottom: 15px;
}

#blog-content .content .article {
	margin-bottom: 60px;
}

#blog-content .content .article .article-title {
	clear: both;
	font-weight: bold;
	color: #333;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 0 0 6px 0;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 12px;
}

#blog-content .content .article .article-info {
	padding: 0 12px;
}
#blog-content .content .article .article-info .article-content {
	padding-bottom: 10px;
}


/* article-sub-info */
#blog-content .content .article .article-info .article-sub-info {
	border-bottom: 1px solid #d6d6d6;
}
#blog-content .content .article .article-info .article-sub-info .article-date,
#blog-content .content .article .article-info .article-sub-info .article-category {
	font-size: .85em;
	line-height: 1.4em;
	border-top: 1px solid #d6d6d6;
	padding: 10px 15px;
}
#blog-content .content .article .article-info .article-sub-info .article-date dl,
#blog-content .content .article .article-info .article-sub-info .article-category dl {
	display: table;
	border-collapse: collapse;
}
#blog-content .content .article .article-info .article-sub-info .article-date dl dt,
#blog-content .content .article .article-info .article-sub-info .article-category dl dt {
	display: table-cell;
	width: 120px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #d6d6d6;
}
#blog-content .content .article .article-info .article-sub-info .article-date dl dd,
#blog-content .content .article .article-info .article-sub-info .article-category dl dd {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding-left: 12px;
}


/* pagenavi */
#blog-content .content .pagenavi-top {
	padding-bottom: 40px;
}
#blog-content .content .pagenavi-bottom {
}


/* prev-next-content */
#blog-content .content .prev-next-content {
	padding: 0 12px;
	margin-top: 20px;
}
#blog-content .content .prev-next-content .prev {
	float: left;
}
#blog-content .content .prev-next-content .next {
	float: right;
}
#blog-content .content .prev-next-content .btn {
	display: block;
	width: 145px;
	border: 1px solid #d6d6d6;
}
#blog-content .content .prev-next-content .btn a {
	display: block;
	padding: 6px 12px;
	text-align: right;
	background: url(../images/common/icon_navi01.png) no-repeat 10px 12px;
}
#blog-content .content .prev-next-content .btn a:link,
#blog-content .content .prev-next-content .btn a:visited {
	color: #FFF;
	background-color: #757575;
	text-decoration: none;
}
#blog-content .content .prev-next-content .btn a:hover,
#blog-content .content .prev-next-content .btn a:active {
	color: #FFF;
	background-color: #03A9F4;
	text-decoration: none;
}
